{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kangmin</title>

    <!--부트스트랩 css CDN으로 포함시키기-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!--구글 폰트 적용하기-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <!-- 기본 CSS 링크-->
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">

    <!-- 구글 MATERIAL ICONS-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

    <style>
        @font-face {
            font-family: '나눔손글씨 힘내라는 말보단.ttf';
            src: local('나눔손글씨 힘내라는 말보단');
            url("{% static 'fonts/나눔손글씨 힘내라는 말보단.ttf' %}") format("opentype");
        }
    </style>

</head>